{{ define "content" }}

  <article class="post page post-full">
    <header class="post-header inner-md">
      <h1 class="post-title">{{ .Params.title }}</h1>
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ $.Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
    </header><!-- .post-header -->
    {{ if .Params.img_path }}
    <div class="post-thumbnail">
      <img class="thumbnail" src="{{ $.Params.img_path | relURL }}" alt="{{ $.Params.img_alt }}" />
    </div>
    {{ end }}
    <div class="post-content inner-md">
      {{ .Content }}
    </div><!-- .post-content -->
  </article><!-- .post -->

{{ end }}
