{{ $action := .action }}
{{ $action_style := $action.style | default "link" }}
{{ $action_icon := $action.icon_class | default "dev" }}
<a href="{{ $action.url | relURL }}"
  {{ if $action.new_window }} target="_blank"{{ end }}
  {{ if or $action.new_window $action.no_follow }} rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"{{ end }}
  class="{{ if ne $action_style "link" }}button{{ end }}{{ if eq $action_style "secondary" }} button-secondary{{ end }}{{ if eq $action_style "icon" }} button-icon{{ end }}">
  {{ if eq $action_style "icon" }}
    {{ $include_dict := dict "icon" $action_icon }}
    {{ partial "icon.html" $include_dict }}
    <span class="screen-reader-text">{{ $action.label }}</span>
  {{ else }}
    {{ $action.label }}
  {{ end }}
</a>
